{% load static %}


<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Invoice</title>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
  </head>
  <body>
    <section>
      <div class="invoice-container">
        <header class="invoice-header">
          <div class="company-info">
            <h1>{{ company.name }}</h1>
            <p>
              {{ company.street }} {{ company.number }}<br />{{ company.postcode }} {{ companyControl.city }}
            </p>
          </div>
          <a href="/" class="logo"><img src="{{ company.logo.url }}" width="60" height="60" alt="{{ company.name }}" /></a>
          <div class="invoice-info">
            <h2>RECHNUNG</h2>
            <p>Rechnung Nr.: {{ invoice.invoice_number }}</p>
            <p>Kundennr.: {{ customer.customer_number }}</p>
            <p>Date: {{ customer.created_at }}</p>
          </div>
        </header>

        <div class="bill-to">
          <h3>Rechnung an:</h3>
          <address>
            <strong>{{ customer.first_name }} {{ customer.last_name }}</strong><br />
            {{ customer.street }} {{ customer.number }}<br />
            {{ customer.postcode }} {{ customer.city }}
          </address>
        </div>

        <table class="invoice-table">
          <thead>
            <tr>
              <th>Service</th>
              <th>Provison</th>
              <th>Gebühr</th>
            </tr>
          </thead>
          <tbody>
            {% for service in invoice.services.all %}
              <tr>
                
                {% if service.provision_fixed == null %}
                <td>{{ service.service_name }}</td>
                <td>{{ service.provision_percent }} %</td>
                <td>{{ service.provision_amount }} €</td>

                {% else %}
                  <td>{{ service.service_name }} €</td>
                  <td></td>
                  <td>{{ service.provision_fixed }} €</td>
                {% endif %}

              </tr>
            {% endfor %}
          </tbody>
        </table>

        <div class="totals">
          <p>
            <span>Investitions Betrag:</span> <span>{{ invoice.investitions_amount }} €</span>
          </p>
          <p>
            <span>Provison (6.5%):</span> <span>{{ invoice.provision }} €</span>
          </p>
          <p>
            <span>MwSt. (19%):</span> <span>{{ invoice.value_tax }} €</span>
          </p>
          <h3><span>Total:</span> <span>{{ invoice.amount }} €</span></h3>
        </div>

        <footer>
          <p>
            Bitte überweisen Sie den Gesamtbetrag innerhalb von 14 Tagen nach Erhalt dieser Rechnung. Zahlungen können per Banküberweisung oder in Kryptowährung erfolgen. Bei Fragen zu dieser Rechnung kontaktieren Sie uns bitte unter:
            <a href="mailto:elisabeth@startinkrypto.de">elisabeth@startinkrypto.de</a>.
          </p>
          <p>BLZ: {{ company.swift_code }}</p>
          <p>Bankverbindung: {{ company.bank_account }}, USt-Idnr: {{ company.tax_number }}</p>
        </footer>
      </div>
    </section>
  </body>
</html>
